.random-post-list-component {
    height: 100%;
    background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
    padding-bottom: 70px;
}

::ng-deep .p-carousel .p-carousel-indicators {
    padding: 1rem;

    .p-carousel-indicator {
        button {
            border-radius: 1rem;
            background-color: var(--gray-300);
            border: 1px solid transparent;
        }
    }
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #63e;
    border-color: #fff;
}
