* {
    color: white;
}

.cont-logo {
    position: absolute;
    top: 1rem;
    z-index: 1;
}

.text-underline {
    color: #BDD2FF;
    text-decoration: underline;
}

:host ::ng-deep .p-button {
    background-color: #2361E8;
    border-radius: 1rem;
    font-size: 1.15rem;
    width: 100%;
    padding: 15px 40px;
}

input, p-password{
    color: black;
}

.main {
    background-image: url('/assets/images/login-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cont-auth {
    overflow: hidden;
    width: 1000px;
    height: 620px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.18);

    .cont-login,
    .cont-register {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 0 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: all 0.6s ease-in-out;
    }

    .cont-login {
        opacity: 1;
        z-index: 2;
    }

    .cont-register {
        opacity: 0;
        z-index: 1;
    }

    .cont-toggle {
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 150px 0 0 100px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cont-toggle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .toggle {
        background-image: url('/assets/images/login-background.png');
        background-size: cover;
        background-position: right;
        height: 100%;
        width: 100%;
        position: relative;
        transition: all 0.6s ease-in-out;
    }

    .cont-toggle-left,
    .cont-toggle-right {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .cont-toggle-left {
        transform: translateX(-200%);
    }

    .cont-toggle-right {
        transform: translateX(0);
    }
}

.cont-auth.active {

    .cont-login,
    .cont-register {
        transform: translateX(100%);
    }

    .cont-login {
        opacity: 0;
        z-index: 1;
    }

    .cont-register {
        opacity: 1;
        z-index: 2;
    }

    .toggle {
        background-position: left;
    }

    .cont-toggle-left {
        transform: translateX(0);
    }

    .cont-toggle-right {
        transform: translateX(200%);
    }

    .cont-toggle {
        transform: translateX(-100%);
        border-radius: 0 150px 100px 0;
    }
}

