<div class="card m-auto col-12 sm:col-6 flex flex-column align-item-stretch">
    <h1 class="text-center">Login</h1>
    <div class="flex flex-column gap-2 mb-4">
        <label for="email">Email</label>
        <input pInputText id="id" [(ngModel)]="login.email">
    </div>
    <div class="flex flex-column gap-2 mb-4">
        <label for="password">Password</label>
        <input pInputText id="id" [(ngModel)]="login.password">
    </div>
    <p-button class="text-center" label=" Login" severity="primary"></p-button>
    <p [routerLink]="['/']" class="underline cursor-pointer text-center">Back to Home</p>
</div>