<p-dialog header="Post details" [modal]="true" [style]="{ width: '50rem' }" [(visible)]="isDialogVisible"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="onDialogHide()">
    <ng-template pTemplate="content">
        <form> 
            <div class="flex flex-column gap-2 mb-4">
                <label for="postTitle" class="ml-2">Title</label>
                <input pInputText id="postTitle" [(ngModel)]="postRequest.title" name="title"
                    placeholder="Enter your post title">
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isTitleValid" class="error-message">Title is required.</small>
                </div>
            </div>

            <div class="flex flex-column gap-2">
                <label for="postContent" class="ml-2">Content</label>
                <p-editor id="postContent" [(ngModel)]="postContent" name="content" [style]="{ 'height': '500px' }"
                    placeholder="Enter your post content"></p-editor>
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isContentValid" class="error-message">Content is required.</small>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex gap-2 justify-content-center mt-2">
            <p-button (click)="this.isDialogVisible = false" label="Cancel" text="true" severity="danger"></p-button>
            <p-button (click)="onSubmit()" label="Save" severity="success" [outlined]="true"></p-button>
        </div>
    </ng-template>
</p-dialog>
<p-toast />