<div class="cont-footer gap-4 text-lg">
    <div class="col cont-company-info flex flex-column gap-3 px-4">
        <a href="#" class="logo"> kt.forum </a>

        <span class="text-lg" >Build a diverse and positive community, provide support and answers, explore and discuss passions</span>
    </div>

    <div class="col cont-about px-4 ">
        <h2>About</h2>
        <ul>
            <li>About Us</li>
            <li>Blog</li>
            <li>Carrer</li>
        </ul>
    </div>
    
    <div class=" col cont-support px-4">
        <h2>Support</h2>
        <ul >
            <li>Contact us</li>
            <li>Return</li>
            <li>FAQ</li>
        </ul>
    </div>

    <div class=" col cont-social-media px-4 flex flex-column">
        <h2>Get update</h2>
        <div class="cont-email-subcribe mb-4">
            <p-inputGroup>
                <input class="p-button-danger" type="text" pInputText placeholder="Enter your email" />
                <button type="button" pButton icon="pi pi-send" ></button>
            </p-inputGroup>
        </div>
        <ul class="flex gap-4">
            <li><i class="pi pi-facebook text-3xl" ></i></li>
            <li><i class="pi pi-instagram text-3xl" ></i></li>
            <li><i class="pi pi-twitter text-3xl" ></i></li>
            <li><i class="pi pi-linkedin text-3xl" ></i></li>
            <li><i class="pi pi-youtube text-3xl" ></i></li>
        </ul>
        <div>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div>
</div>
<p-divider />
<p class="text-center mb-5" >Tuan Khoi - 2024</p>