<div class="card">
  <div class="card-image" [routerLink]="canEdit ?[] : ['./post/' + postResponse.id]">
    <img [src]="imagePreview">
  </div>
  <div class="card-content">
    <small class="small">
      {{ postResponse.createdDate | date:'dd MMM yyyy' }}&nbsp;&nbsp;
      <i class="pi pi-clock"></i>&nbsp;&nbsp;
      {{ minRead }} mins read
    </small>
    <h2 class="post-title">{{postResponse.title}}</h2>
    <p class="post-content">{{postResponse.content | htmlToPlaintext}}</p>
    <div class="card-author flex align-items-center gap-3">
      <img [src]="userResponse.image! | dataUriToBlob" style="width: 28px; height: 28px; border-radius: 50%;">
      <span>{{userResponse.fullName}}</span> 
    </div>
  </div> 
</div>
<!-- image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"  -->
<div *ngIf="canEdit" class="flex gap-2 justify-content-end">
  <p-button (click)="isEditing.emit()" label="Edit" severity="success"></p-button>
  <p-button [routerLink]="['./post/' + postResponse.id]" label="Details" severity="primary"></p-button>
</div>
