<div class="card">
    <p-table #usertable [value]="usersResponse" [globalFilterFields]="['fullName', 'email']"
        [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button (click)="openDialogNew()" label="New" severity="success" icon="pi pi-plus"></p-button>
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input #search pInputText type="text" (input)="usertable.filterGlobal(search.value, 'contains')"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th> <!-- New column for row numbers -->
                <th>Email</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <p-columnFilter field="role_id" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="rolesResponse" optionLabel="name" optionValue="id"
                                (onChange)="filter($event.value)" placeholder="Select One" [showClear]="true">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="boolean" field="active"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-index="rowIndex"> <!-- Added let-i="rowIndex" -->
            <!-- <tr class="cursor-pointer" (click)="openDialogEdit(user)"> -->
            <tr class="cursor-pointer" (click)="openDialogNew()">
                <td>{{ index + 1 }}</td> <!-- Display row number -->
                <td>{{ user.email }}</td>
                <td>{{ user.fullName }}</td>
                <!-- <td>{{ getRoleByID(user.role?.id) }}</td>  -->
                <td>
                    <i class="pi"
                        [ngClass]="{ 'pi-check-circle text-green-500': user.active, 'pi-times-circle text-red-500': !user.active }"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="User details" [modal]="true" [(visible)]="isVisible" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
        <ng-template pTemplate="content">
            <div *ngIf="isEdit" class="flex flex-column gap-2 mb-4">
                <label for="id">ID</label>
                <input pInputText id="id" [(ngModel)]="userResponse.id" readonly>
            </div>
            <div class="flex justify-content-space-between">
                <div class="flex flex-column gap-2 mb-4 flex-grow-1">
                    <label for="role">Role</label>
                    <div class="card flex">
                        <p-dropdown [options]="rolesResponse" [ngModel]="userRoleId"
                            (ngModelChange)="userRoleId = $event" optionValue="id" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="flex flex-column gap-2 mb-4 flex-grow-1">
                    <label for="email">Status</label>
                    <div class="card flex">
                        <p-selectButton [options]="[{label: 'Active', value: true}, {label: 'Disable', value: false}]"
                            [(ngModel)]="userResponse.active" optionLabel="label" optionValue="value"></p-selectButton>
                    </div>
                </div>
            </div>

            <div *ngIf="!isEdit" class="flex flex-column gap-2 mb-4">
                <label for="userName">User Name</label>
                <input pInputText id="userName" [(ngModel)]="userResponse.userName">
            </div>
            <div *ngIf="!isEdit" class="flex flex-column gap-2 mb-4">
                <label for="password">Password</label>
                <input pInputText id="password" [(ngModel)]="userResponse.password">
            </div>
            <div class="flex flex-column gap-2 mb-4">
                <label for="email">Email</label>
                <input pInputText id="email" [(ngModel)]="userResponse.email">
            </div>
            <div class="flex flex-column gap-2 mb-4">
                <label for="fullName">Full Name</label>
                <input pInputText id="fullName" [(ngModel)]="userResponse.fullName">
            </div>

            <ng-container *ngIf="isEdit">
                <div class="flex flex-column gap-2 mb-4">
                    <label for="createdDate">Created Date</label>
                    <input pInputText id="createdDate"
                        [ngModel]="userResponse.createdDate | date:'HH:mm:ss - dd/MM/yyyy'" readonly>
                </div>
                <div class="flex flex-column gap-2 mb-4">
                    <label for="createdBy">Created By</label>
                    <input pInputText id="createdBy" [(ngModel)]="userResponse.createdBy" readonly>
                </div>
                <div class="flex flex-column gap-2 mb-4">
                    <label for="lastModifiedDate">Last Modified Date</label>
                    <input pInputText id="lastModifiedDate"
                        [ngModel]="userResponse.lastModifiedDate | date:'HH:mm:ss - dd/MM/yyyy'" readonly>
                </div>
                <div class="flex flex-column gap-2 mb-4">
                    <label for="lastModifiedBy">Last Modified By</label>
                    <input pInputText id="lastModifiedBy" [(ngModel)]="userResponse.lastModifiedBy" readonly>
                </div>
            </ng-container>

            <div class="flex gap-2 justify-content-center">
                <p-button (click)="isVisible = false" label="Cancel" severity="danger"></p-button>
                <p-button (click)="saveUser()" label="Save" severity="success"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</div>
<p-toast></p-toast>