<form (ngSubmit)="onSubmit()" class="flex flex-column gap-2 align-items-center">
    <div class="w-full cont-comment-request">
      <textarea #commentContent rows="2" pInputTextarea [autoResize]="true" [(ngModel)]="commentRequest.content"
        name="comment" maxlength="1000" class="w-full"
        [placeholder]="comment ? ('reply: ' + comment.content| truncate:50) : 'Write to comment ... '">
    </textarea>


      <small class="comment-request-length">{{ commentRequest.content.length || 0 }}/1000</small>
    </div>

    <div class="flex gap-2">
      <p-button (click)="handleCancel.emit()" label="Cancel" [text]="true" severity="secondary"
        *ngIf="parentCommentId"></p-button>
      <p-button [disabled]="!commentRequest.content || commentRequest.content.trim().length === 0" type="submit"
        label="Send" [outlined]="true">
      </p-button>
    </div>
</form>