.card:hover {
  transform: translateY(-10px);
}

.cont-banner {
  width: 100%;
  height: max-content;

  h1 img {
    width: 2rem;
    height: 2rem;
  }

  h2 {
    font-family: "Noto Sans", sans-serif;
    color: #4C4F57;
    font-weight: normal;
  }

  h1,
  h2 {
    margin-block: 0;
  }

  span {
    color: var(--color-red-4);
  }
}
