<div class="flex flex-column gap-3"  >
    <div class="cont-banner flex flex-column align-items-center gap-2 p-4 border-round-2xl	">
        <h2>Welcome to <span class="font-bold" >kt.forum</span></h2>   
    
        <h1 class="text-center">
            Craft narratives
            <img src="https://img.icons8.com/?size=100&id=16380&format=png&color=000000">
            that ignite<span> inspiration </span>
            <img src="https://img.icons8.com/?size=100&id=20523&format=png&color=000000">,
            <br><span> knowledge </span>
            <img src="https://img.icons8.com/?size=100&id=Gvq4CL3hxDVR&format=png&color=000000">,
            and<span> entertainment </span>
            <img src="https://img.icons8.com/?size=100&id=9vdP7gCiMiAA&format=png&color=000000">
        </h1>
    </div>
      
    <app-category></app-category>
</div>        