<div class="profile-account-container">
    <p-dialog header="Change password" [modal]="true" [(visible)]="isChangePasswordDialogActive" [style]="{ width: '25rem' }" [responsive]="true"
      [breakpoints]="{
          '4000px': '30vw',
          '1199px': '35vw',    
          '991px': '50vw',    
          '767px': '60vw',    
          '575px': '90vw',    
          '375px': '95vw'     
        }" (onHide)="onDialogHide()">
      <ng-container *ngIf="userResponse">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="flex flex-column gap-4">
          <div class="flex flex-column gap-2">
            <div class="flex flex-column gap-2">
              <label class="ml-2 font-bold text-white" for="password">Current password</label>
              <p-password id="password" type="password" class="w-full" [feedback]="false"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [toggleMask]="true" placeholder="Enter your current password"
                formControlName="currentPassword">
              </p-password>
              <div class="flex flex-column align-items-center text-gray-200">
                <small
                  *ngIf="changePasswordForm.get('currentPassword')?.hasError('required') && changePasswordForm.get('currentPassword')?.touched">
                  Password is required.
                </small>
                <small
                  *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength') && changePasswordForm.get('currentPassword')?.touched">
                  Password must be at least 8 characters long.
                </small>
                <small
                  *ngIf="changePasswordForm.get('currentPassword')?.hasError('alphanumeric') && changePasswordForm.get('currentPassword')?.touched">
                  Password must contain letters and numbers only.
                </small>
              </div>
            </div>
          </div>
  
          <div class="flex flex-column gap-2">
            <div class="flex flex-column gap-2">
              <label class="ml-2 font-bold text-white" for="password">Password</label>
              <p-password id="password" type="password" class="w-full" [feedback]="false"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [toggleMask]="true" placeholder="Minimum 8 alphanumeric characters"
                formControlName="newPassword">
              </p-password>
              <div class="flex flex-column align-items-center text-gray-200">
                <small
                  *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched">
                  Password is required.
                </small>
                <small
                  *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength') && changePasswordForm.get('newPassword')?.touched">
                  Password must be at least 8 characters long.
                </small>
                <small
                  *ngIf="changePasswordForm.get('newPassword')?.hasError('alphanumeric') && changePasswordForm.get('newPassword')?.touched">
                  Password must contain letters and numbers only.
                </small>
              </div>
            </div>
          </div>
  
          <div class="flex flex-column gap-2">
            <div class="flex flex-column gap-2">
              <label class="ml-2 font-bold text-white" for="rePassword">Re-Password</label>
              <p-password id="rePassword" type="password" class="w-full" [feedback]="false"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [toggleMask]="true" placeholder="Re-enter your password"
                formControlName="rePassword">
              </p-password>
              <div class="flex flex-column align-items-center text-gray-200">
                <small
                  *ngIf="changePasswordForm.get('rePassword')?.hasError('required') && changePasswordForm.get('rePassword')?.touched">
                  Confirm Password is required.
                </small>
                <small
                  *ngIf="changePasswordForm.get('rePassword')?.hasError('passwordMismatch') && changePasswordForm.get('rePassword')?.touched">
                  Passwords do not match.
                </small>
              </div>
            </div>
          </div>
  
          <div class="flex justify-content-center gap-2">
            <button class="btn-primary" type="submit">Save change</button>
          </div>
        </form>
      </ng-container>
    </p-dialog>
  </div>
  
  <p-toast></p-toast>