::ng-deep .p-image-preview-container,
::ng-deep .p-image-preview-container>img,
::ng-deep .p-image-preview-indicator{
  border-radius: 50%;
}

::ng-deep .p-image-preview-container>img{
  border: 1px solid var(--gray-300);
  object-fit: cover;
}

::ng-deep .p-inputtext{
  color: unset;
}

::ng-deep .p-component-overlay-enter{
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px);
}
