<div class="cont-header">
    <p-menubar #contUser [model]="navBarMenuItems" aria-label="Main Navigation">
        <ng-template pTemplate="start">
            <div class="cont-nav-logo">
                <a href="#" class="logo" aria-label="Homepage">kt.forum</a>
            </div>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link" [attr.aria-label]="item.label">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
                    [value]="item.badge"></p-badge>
                <span *ngIf="item.shortcut"
                    class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                    {{item.shortcut}}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-3">
                <div class="cont-account">
                    <div class="btn-function flex gap-2">
                        <div class="flex gap-2" *ngIf="isUserLoginInfoEmpty()">
                            <p-button (click)="activateSignUp(false)" [routerLink]="['./login']" label="Sign In"
                                aria-label="Login"></p-button>
                            <p-button (click)="activateSignUp(true)" [routerLink]="['./login']" label="Sign Up"
                                aria-label="Sign Up"></p-button>
                        </div>
                        <div class="flex align-items-center gap-2 cursor-pointer" *ngIf="userLoginInfo.userName"
                            (click)="userMenu.toggle($event)" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="user-full-name">{{ userLoginInfo.fullName }}</span>
                            <img *ngIf="userLoginInfo.image" [src]="userLoginInfo.image | dataUriToBlob"
                                style="width: 28px; height: 28px; border-radius: 50%;"
                                alt="{{ userLoginInfo.fullName }}">
                            <p-menu #userMenu id="user-menu" [model]="userMenuItems" [popup]="true"
                                styleClass="w-full md:w-15rem" aria-label="User Menu">
                                <ng-template pTemplate="start">
                                    <span class="inline-flex align-items-center gap-1 px-2 py-2"></span>
                                </ng-template>
                                <ng-template pTemplate="submenuheader" let-item>
                                    <span class="text-primary font-bold">{{ item.label }}</span>
                                </ng-template>
                                <ng-template pTemplate="item" let-item>
                                    <a pRipple class="flex align-items-center p-menuitem-link"
                                        [attr.aria-label]="item.label">
                                        <span [class]="item.icon"></span>
                                        <span class="ml-2">{{ item.label }}</span>
                                        <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"></p-badge>
                                        <span *ngIf="item.shortcut"
                                            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{
                                            item.shortcut }}</span>
                                    </a>
                                </ng-template>
                                <ng-template pTemplate="end" class="cont-nav-end">
                                    <button pRipple
                                      class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround flex gap-2"
                                      aria-label="User Info">
                                      <img *ngIf="userLoginInfo.image" [src]="userLoginInfo.image | dataUriToBlob"
                                        style="width: 28px; height: 28px; border-radius: 50%;" alt="{{ userLoginInfo.fullName }}">
                                      <span class="inline-flex flex-column gap-2">
                                        <span class="font-bold">{{ userLoginInfo.fullName }}</span>
                                        <span class="text-sm">{{ userLoginInfo.role?.name }}</span>
                                      </span>
                                    </button>
                                  </ng-template>
                                  
                            </p-menu>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-menubar>
</div>

<app-create-update-post
    [isDialogVisible]="isDialogVisible"
    (isDialogVisibleChange)="isDialogVisible = $event"
    [postResponse]="newPost"
></app-create-update-post>