<div class="category-container flex flex-column gap-2 align-items-center w-full">
    <span class="text-center text-2xl font-semibold">Join the Discussion</span>
    <ng-container *ngIf="categorieResponseList$ | async as categories">
        <div class="category w-full flex flex-column gap-4 align-items-center" *ngFor="let category of categories">
            <span class="category-title text-center text-3xl font-bold">{{category.title}}</span>
            <ng-container *ngIf="getCategoryState(category.id) | async as state">
                <div class="sub-categories-container w-full">
                    <app-sub-category class="sub-category-item w-full flex flex-column justify-content-between"
                        *ngFor="let subCategory of state.subCategories" [subCategoryResponse]="subCategory"
                        [routerLink]="['/category', category.title | toSlug, 'subcategory', subCategory.title | toSlug, subCategory.id, 'posts']">
                    </app-sub-category>
                </div>
                <p-button *ngIf="!state.noMoreData" (click)="showMore(category.id)" [disabled]="state.isLoading"
                label="{{ state.isLoading ? 'Loading...' : 'Load more' }}" severity="danger" text="true">
                </p-button>
            </ng-container>
        </div>
    </ng-container>
</div>