.category-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  .category-title {
    color: var(--color-red-4)
  }

  .sub-categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 16px;
    justify-items: center;

    .sub-category-item {
      max-width: 300px;
      background-color: white;
      border: 1px solid #E9E8FF;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      height: 500px;
      overflow: hidden;
      transition: 0.3s ease;
      box-sizing: border-box;
    }
  }
}

.sub-category-item:hover {
  transform: translateY(-10px);
}

.show-more-btn:hover {
  background-color: #0056b3;
}

.show-more-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .sub-categories-container {
    grid-template-columns: 1fr;
  }

  .sub-category-item {
    max-width: 100%;
  }
}