// .card-container {
//   display: grid;
//   gap: 40px;
//   padding: 0 300px;
// }

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 1053px) {
  .card-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}


.card {
  min-width: 200px; /* Kích thước tối thiểu */
  width: 100%; /* Hoặc giá trị cụ thể khác */
  background-color: white;
  border: 1px solid #E9E8FF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  height: 400px;
  overflow: hidden;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-10px);
}

// .card {
//   background-color: white;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
// display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 300px; /* Fixed height */
//   overflow: hidden;
// }

// @media (max-width: 576px) {
//   .card-container {
//     grid-template-columns: 1fr;
//     /* 1 column */
//     padding: 0 25px;
//     /* Padding for extra small screens */
//   }
// }

// @media (min-width: 577px) and (max-width: 768px) {
//   .card-container {
//     gap: 20px;
//     grid-template-columns: repeat(2, 1fr);
//     /* 2 columns */
//     padding: 0 20px;
//     /* Padding for small screens */
//   }
// }

// @media (min-width: 769px) and (max-width: 992px) {
//   .card-container {
//     grid-template-columns: repeat(2, 1fr);
//     /* 3 columns */
//     padding: 0 70px;
//     /* Padding for medium screens */
//   }
// }

// @media (min-width: 993px) and (max-width: 1200px) {
//   .card-container {
//     grid-template-columns: repeat(2, 1fr);
//     /* 4 columns */
//     padding: 0 130px;
//     /* Padding for large screens */
//   }
// }

// @media (min-width: 1201px) and (max-width: 1400px) {
//   .card-container {
//     grid-template-columns: repeat(2, 1fr);
//     /* 5 columns */
//     padding: 0 170px;
//     /* Padding for larger screens */
//   }
// }

// @media (min-width: 1401px) and (max-width: 1600px) {
//   .card-container {
//     grid-template-columns: repeat(3, 1fr);
//     /* 6 columns */
//     padding: 0 170px;
//     /* Padding for extra large screens */
//   }
// }

// @media (min-width: 1601px) {
//   .card-container {
//     grid-template-columns: repeat(3, 1fr);
//     /* 7 columns */
//     padding: 0 200px;
//     /* Padding for extra large screens */
//   }
// }