<div class="flex flex-column gap-5 m-auto col-12 xl:col-10 lg:col-12 md:col-10">
    <div class="cont-banner flex flex-column align-items-center gap-2 p-4 w-full border-round-2xl text-white">
        <h2>Welcome to <span class="font-bold">kt.forum</span></h2>

        <h1 class="text-center">
            Craft narratives
            <img src="https://img.icons8.com/?size=100&id=16380&format=png&color=000000">
            that ignite<span> inspiration </span>
            <img src="https://img.icons8.com/?size=100&id=20523&format=png&color=000000">,
            <br><span> knowledge </span>
            <img src="https://img.icons8.com/?size=100&id=Gvq4CL3hxDVR&format=png&color=000000">,
            and<span> entertainment </span>
            <img src="https://img.icons8.com/?size=100&id=9vdP7gCiMiAA&format=png&color=000000">
        </h1>
    </div>

    <app-home></app-home>
    <div class="grid">
        <div class="col-12 lg:col-9 flex flex-column gap-4">
            <app-top-trending-posts></app-top-trending-posts>
            <app-most-recently-created-posts></app-most-recently-created-posts>
        </div>

        <div class="col-0 lg:col-3 flex lg:flex-column gap-6">
            <app-user-rank></app-user-rank>
            <app-sub-category-rank></app-sub-category-rank>
        </div>
    </div>

</div>