.post-container {
  background: #FFFFFF;
  // width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // border: 1px solid #E9E8FF;
  border-radius: 8px;
  transition: 0.3s ease;

}

.post-container:hover {
  background: #FFFFFF;
  box-shadow: 0 0 11px rgba(255, 0, 0, 0.4); 
  transform: scale(1.009);

}

.post-content {
  display: -webkit-box;
  // -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.sub-title {
  color: #65676B;
}
