<div class="flex gap-4 w-full post-container p-3">
  <div class="flex flex-column align-items-center gap-2">
    <ng-container *ngIf="postResponse?.createdBy">
      <ng-container *ngIf="(postResponse.createdBy | userIdToUser | async) as user">
        <img class="border-circle" [src]="user.image | dataUriToBlob" alt="" style="width: 56px; height: 56px;">
        <small class="text-center"><b>{{user.fullName}}</b></small>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!postResponse?.createdBy">
      <p>No user information available.</p>
    </ng-container>
  </div>

  <div class="card-content flex flex-column gap-3 w-full">
    <span class="post-title font-bold text-xl">{{postResponse.title}}</span>
    <small class="sub-title">
      {{ postResponse.createdDate | date:'dd MMM yyyy' }}&nbsp;&nbsp;
      <i class="pi pi-clock"></i>&nbsp;&nbsp;
      {{ minRead }} mins read
    </small>
    <span class="post-content">{{postResponse.content | htmlToPlaintext}}</span>
    <div class="flex gap-6">
      <div class="flex gap-2 align-items-center">
        <span>{{postResponse.viewCount}}</span>
        <i class="pi pi-eye"></i>
      </div>
      <!-- <div class="flex gap-2 align-items-center">
        <span>{{postResponse.countLikes ? postResponse.countLikes : 0}}</span>
        <i class="pi pi-heart"></i>
      </div> -->
      <div class="flex gap-2 align-items-center">
        <span>{{postResponse.totalComments ? postResponse.totalComments : 0}}</span>
        <span>{{postResponse.totalComments > 0 ? 'Replies' : 'Reply'}}</span>
      </div>
    </div>
  </div>
</div>