<div class="flex flex-column m-auto col-12 sm:col-12 md:col-10 lg:col-8">
  <ng-container *ngIf="postResponse$ | async as postResponse">
    <app-post class="cursor-pointer" [postResponse]="postResponse"></app-post>
    <p-divider></p-divider>
    <app-comment-form *ngIf="postId" [postId]="postId" [parentCommentId]="null"></app-comment-form>

    <p-divider></p-divider>

    <div class="flex flex-column gap-3">
      <ng-container *ngIf="commentResponseList$ | async as commentResponseList">
        <ng-container *ngFor="let commentResponse of commentResponseList; trackBy: trackByCommentId">
          <app-comment [commentResponse]="commentResponse" [postOfComment]="postResponse"
            (showReplyForm)="handleReplyFormVisibility($event, commentResponse.id!)"
            [isReplyFormVisible]="isReplyFormVisible(commentResponse.id!)">
          </app-comment>

          <app-comment-form *ngIf="isReplyFormVisible(commentResponse.id!)" [parentCommentId]="commentResponse.id!"
            [comment]="commentResponse" [postId]="commentResponse.postId!" (commentAdded)="onCommentAdded($event)">
            >
          </app-comment-form>
        </ng-container>
        <p-paginator [rows]="commentsPageSize" [totalRecords]="postResponse.totalComments" (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
      </ng-container>
    </div>


  </ng-container>
</div>