.post-details-container,
.comment-input-container {
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.btn-a {
  cursor: pointer;
  font-weight: bold;
  color: #65676B;
}

.btn-a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sub-title {
  color: #65676B;
}