<div>
    <h1 class="text-center">{{ postResponse.title }}</h1>
    <div class="flex justify-content-center gap-2 align-items-center">
        <p-avatar *ngIf="postAuthorInfo?.image" [image]="(postAuthorInfo?.image ?? 'default-image-url') | dataUriToBlob"
            styleClass="mr-2" shape="circle"></p-avatar>
        <small *ngIf="postAuthorInfo?.fullName">
            {{ postAuthorInfo?.fullName }} ({{ postAuthorInfo?.userName }})
        </small>
        <span>|</span>
        <small>{{ postResponse.createdDate | date: 'HH:mm:ss dd/MM/yyyy' }}</small>
    </div>
    <div class="flex gap-1 justify-content-center mt-2 mb-4">
        <p-tag *ngFor="let tag of postResponse.tags" [value]="tag" [rounded]="true"></p-tag>
    </div>

    <hr>

    <div class="ql-snow">
        <div class="ql-editor m-auto col-12 lg:col-8" [innerHTML]="postResponse.content"></div>
    </div>

    <hr>

    <app-interact [isLogin]="isLogin()" [countLikes]="postResponse.countLikes!" *ngIf="postResponse.id"
        [postId]="postResponse.id" (likeFailed)="onLikeFailed()">
    </app-interact>

    <app-comments [postId]="postId"></app-comments>
</div>

<p-toast></p-toast>
