<div class="flex gap-4 w-full comment-container p-3">
  <div class="flex flex-column align-items-center gap-2 flex-1">
    <ng-container *ngIf="commentResponse.createdBy! | userIdToUser | async as user">
      <img class="border-circle" [src]="user.imageUrl " alt="" style="width: 56px; height: 56px;">
      <small class="text-center"><b>{{user.fullName}}</b></small>
    </ng-container>
  </div>

  <div class="card-content flex flex-column gap-3 justify-content-between w-full flex-9">
    <div class="flex flex-column gap-3">
      <ng-container *ngIf="!commentResponse.parentId">
        <div class="flex gap-2 sub-title">
          <i class="pi pi-clock"></i>
          <small>{{commentResponse.createdDate | date: "hh:mm:ss • dd MMM yyyy"}}</small>
        </div>
      </ng-container>

      <ng-container *ngIf="commentResponse.parentId">
        <div class="flex gap-2 sub-title">
          <i class="pi pi-clock"></i>
          <small>{{commentResponse.createdDate | date: "hh:mm:ss • dd MMM yyyy"}}</small>
        </div>
        <div class="replied-post-container">

          <small class="replied-post-content">
            reply to: {{ (commentResponse.parentId | commentIdToComment | async)?.content}}
          </small>

        </div>
      </ng-container>
      <span class="post-content">{{commentResponse.content | htmlToPlaintext}}</span>
    </div>
    <div class="flex justify-content-between align-items-center">
      <div class="flex gap-5" *ngIf="commentResponse.createdBy === userLoginId">
        <span class="btn-a">Edit</span>
        <span class="btn-a" (click)="onDeleteComment()">Delete</span>
      </div>

      <div class="flex gap-5 ml-auto cursor-pointer sub-title">
        <div class="flex gap-2 align-items-center" (click)="onReplyComment(commentResponse)">
          <i class="pi pi-reply"></i>
          <a class="btn-a " >Reply</a>
        </div>
      </div>
    </div>
  </div>
</div>
