.comment-container{
  background: #FFFFFF;
  // width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        // border: 1px solid #E9E8FF;
    border-radius: 8px;

}

.replied-post-container{
  background: #F4F5F7;
  padding: 1rem;
  border-radius: 8px;

}

.replied-post-content{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.btn-a {
  cursor: pointer;
  color: #65676B;
}

.btn-a:hover {
  cursor: pointer;

  text-decoration: underline;
}

.sub-title{
  color: #65676B;
}

// .sub-title:hover{
//   text-decoration: underline;

// }

.flex-1 {
  flex: 1;
}

/* Phần tử thứ hai - Chiếm 80% */
.flex-9 {
  flex: 9;
}

.post-content{
  padding: 0px 14px;
}