<div class="comment">
  <div class="comment-content">
    <div class="flex  gap-2 ">
      <div class="flex flex-column align-items-center">
        <p-avatar
          [image]="(comment.createdBy! | userIdToUserImage | async) || 'assets/images/img-default-user.jpg' | dataUriToBlob"
          shape="circle" size="normal">
        </p-avatar>
        <div class="line-comment"></div>
      </div>

      <div class="flex flex-column gap-2 w-full">

        <div class="flex flex-column gap-2 comment-inf">
          <div class="flex gap-4 flex-wrap	 align-items-end">
            <b class="comment-meta">
              {{ comment.createdBy! | userIdToFullName | async}}
            </b>
            <small>{{ comment.createdDate! | timeAgo}}</small>
          </div>
          <span>{{ comment.content }}</span>
        </div>

        <div class="flex gap-6 align-items-center ml-3">
          <div class="flex gap-2">
            <i class="cursor-pointer pi pi-thumbs-up"></i>
            <span>3</span>
          </div>
          <div class="flex gap-2">
            <i class="cursor-pointer pi pi-thumbs-down"></i>
            <span>1</span>
          </div>
          <a class="btn-a" (click)="toggleReplyForm()">Reply</a>
        </div>

        <app-comment-form *ngIf="showReplyForm" (commentAdded)="onReplyAdded($event)" (handleCancel)="toggleReplyForm()"
          [parentCommentId]="comment.id">
        </app-comment-form>

        <div class="replies flex flex-column gap-3 mt-3" *ngIf="comment.replies && comment.replies.length > 0">
          <app-comment *ngFor="let reply of comment.replies" [comment]="reply" [postId]="postId"></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>

