<ng-container *ngIf="userResponse$| async as userResponse">

    <div class="flex flex-column gap-5">
        <div class="cont-profile-info flex flex-column gap-3 align-items-center ">
            <img class="border-circle img-profile " [src]="userResponse.imageUrl" width="100px" height="100px">
            <span>&#64;{{userResponse.userName}}</span>
            <div class="flex gap-2 align-items-center">
                <span class="text-xl font-bold">{{userResponse.fullName}}</span>
                <p-button (click)="onToggleDialogUpdateUser()" icon="pi pi-pen-to-square" [rounded]="true"
                    [text]="true" />

            </div>
            <div class="flex gap-6">
                <!-- <div class="flex flex-column align-items-center gap-1">
                    <h2 class="m-0">{{totalPosts}}</h2>
                    <span>{{ totalPosts <= 1 ? 'Post' : 'Posts' }}</span>
                </div>
                <div class="flex flex-column align-items-center  gap-1">
                    <h2 class="m-0">{{ totalLikes }} </h2>
                    <span>{{ totalLikes <= 1 ? 'Like' : 'Likes' }}</span>
                </div> -->
            </div>
        </div>
        <!-- <div class="cont-my-post flex flex-column gap-4 align-items-center">
        <div class="flex gap-4">
            <button class="btn" [class.active]="activeButton === 'bars'" (click)="toggleActive('bars')"
                (click)="getPostsCreatedBy()">
                <i class="pi pi-bars"></i>
            </button>

            <button class="btn" [class.active]="activeButton === 'heart'" (click)="toggleActive('heart')"
                (click)="getPostsLiked()">
                <i class="pi pi-heart"></i>
            </button>
        </div>
        <app-post-list [defaultUserLoginInfo]="defaultUserLoginInfo" [userLoginInfo]="userLoginInfo"
            [postsResponse]="postsResponse" [userName]="userName" [canEdit]="canEdit"></app-post-list>
    </div> -->
    </div>
</ng-container>

<p-dialog header="Edit Profile" [modal]="true" [(visible)]="isEditUserInfo" [style]="{ width: '25rem' }"
    [responsive]="true" [breakpoints]="{
        '4000px': '50vw',
        '1199px': '75vw',    
        '991px': '65vw',    
        '767px': '80vw',    
        '575px': '90vw',    
        '375px': '95vw'     
      }">
    <span class="p-text-secondary block mb-5">Update your information.</span>

    <form [formGroup]="userForm" (ngSubmit)="onUpdateUser()" class="flex flex-column gap-3">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="userName" class="font-semibold w-7rem">Username</label>
            <input pInputText id="userName" class="flex-auto" autocomplete="off" formControlName="userName">
        </div>

        <div class="flex align-items-center gap-3 mb-3">
            <label for="email" class="font-semibold w-7rem">Email</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" formControlName="email" />
        </div>

        <div class="flex flex-column gap-2">
            <div class="flex align-items-center gap-3">
                <label for="fullName" class="font-semibold w-7rem">Full Name</label>
                <input pInputText id="fullName" class="flex-auto" autocomplete="off" formControlName="fullName"
                    placeholder="Enter your Full Name" />
            </div>
            <small class="text-center" style="color: red;"
                *ngIf="userForm.get('fullName')?.hasError('required') && userForm.get('fullName')?.touched">Full Name is
                required.</small>
        </div>

        <div class="flex flex-column gap-2">
            <div class="flex align-items-center gap-3">
                <label for="password" class="font-semibold w-7rem">Password</label>
                <p-password id="password" type="password" class="flex-auto" [feedback]="false"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" [toggleMask]="true" placeholder="Minimum 8 alphanumeric characters"
                    formControlName="password">
                </p-password>
            </div>

            <div class="flex flex-column align-items-center" style="color: red;">
                <small
                    *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">Password
                    is required.</small>
                <small
                    *ngIf="userForm.get('password')?.hasError('minlength') && userForm.get('password')?.touched">Password
                    must be at least 8 characters long.</small>
                <small
                    *ngIf="userForm.get('password')?.hasError('alphanumeric') && userForm.get('password')?.touched">Password
                    must contain letters and numbers only.</small>
            </div>
        </div>

        <div class="flex flex-column gap-2">
            <div class="flex align-items-center gap-3">
                <label for="rePassword" class="font-semibold w-7rem">Re-Password</label>
                <p-password id="rePassword" type="password" class="flex-auto" [feedback]="false"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}" [toggleMask]="true" placeholder="Re-enter your password"
                    formControlName="rePassword">
                </p-password>
            </div>

            <div class="flex flex-column align-items-center" style="color: red;">
                <small
                    *ngIf="userForm.get('rePassword')?.hasError('required') && userForm.get('rePassword')?.touched">Confirm
                    Password is required.</small>
                <small
                    *ngIf="userForm.get('rePassword')?.hasError('passwordMismatch') && userForm.get('rePassword')?.touched">Passwords
                    do not match.</small>
            </div>
        </div>

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="onToggleDialogUpdateUser()" />
            <p-button label="Save" type="submit" />
        </div>
    </form>


</p-dialog>


<p-toast />