<p-dataView #dv [value]="postsResponse" [layout]="'grid'" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
        <div class="flex justify-content-end">
            <p-button (click)="openDialogNew()" label="Write" severity="success"></p-button>
        </div>
    </ng-template>

    <ng-template pTemplate="grid" let-postResponse>
        <div class="grid grid-nogutter">
            <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-4 p-2" *ngFor="let postResponse of postsResponse">
                <app-post class="cursor-pointer" [canEdit]="true" [postResponse]="postResponse"
                    (isEditing)="openDialogEdit(postResponse)"></app-post>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Post details" [modal]="true" [style]="{ width: '50rem' } " [(visible)]="isVisible"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <ng-template pTemplate="content">

        <!-- <div *ngIf="isEdit" class="flex flex-column gap-2 mb-4">
            <label for="id">ID</label>
            <input pInputText id="id" [(ngModel)]="postResponse.id" readonly>
        </div> -->
        <form (ngSubmit)="onSubmit()">
            <div class="container cont-img-post flex flex-column mb-4">
                <div class="cont-upload-img">
                    <div class="img-area cursor-pointer p-2" [class.active]="isActiveImage" [attr.data-img]="fileName"
                        (click)="inputFile.click()">
                        <input id="input" type="file" accept="image/*" hidden #inputFile
                            (change)="onSelectFile($event)" />
                        <i class="pi pi-cloud-upload"></i>
                        <h3>Upload image</h3>
                        <p>Image size must be less than <span>2MB</span></p>
                        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image preview" class="img-preview" />
                    </div>
                </div>
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isImageValid" class="error-message">Only images are supported.</small>
                </div>
            </div>
        
            <div class="flex flex-column gap-2 mb-4">
                <label for="postTitle" class="ml-2">Title</label>
                <input pInputText id="postTitle" [(ngModel)]="postRequest.title" name="title"
                    placeholder="Enter your post title">
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isTitleValid" class="error-message">Title is required.</small>
                </div>
            </div>

            <div class="flex flex-column gap-2 mb-4">
                <label for="tags">Tags</label>
                <p-chips [(ngModel)]="postRequest.tags" name="tags" placeholder="Enter your post tags"></p-chips>
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isTagsValid" class="error-message">Tags is required.</small>
                </div>
            </div>

            <div class="flex flex-column gap-2 mb-4">
                <label for="postContent" class="ml-2">Content</label>
                <p-editor id="postContent" [(ngModel)]="postContent" name="content"  [style]="{ 'height': '500px' }"
                    placeholder="Enter your post content"></p-editor>
                <div class="flex flex-column align-items-center">
                    <small *ngIf="!isContentValid" class="error-message">Title is required.</small>
                </div>
            </div>

            <div class="flex gap-2 justify-content-center">
                <!-- <p-button (click)="deletePost($event)" label="Delete" severity="danger"></p-button>
                <p-button (click)="savePost()" label="Save" severity="success"></p-button>
                <p-button (click)="savePost()" label="Save" severity="success"></p-button> -->
                <p-button type="submit" label="Save" severity="success"></p-button>
                <p-button (click)="onDeletePost($event)" label="Delete" severity="danger"></p-button>

   


            </div>

        </form>


        <!-- <ng-container *ngIf="isEdit">
            <div class="flex flex-column gap-2 mb-4">
                <label for="createdDate">Created Date</label>
                <input pInputText id="id" [ngModel]="postResponse.createdDate | date:'HH:mm:ss - dd/MM/yyyy'" readonly>
            </div>
            <div class="flex flex-column gap-2 mb-4">
                <label for="createdBy">Created By</label>
                <input pInputText id="id" [(ngModel)]="postResponse.createdBy" readonly>
            </div>
            <div class="flex flex-column gap-2 mb-4">
                <label for="lastModifiedDate">Last Modified Date</label>
                <input pInputText id="id" [ngModel]="postResponse.lastModifiedDate  | date:'HH:mm:ss - dd/MM/yyyy'"
                    readonly>
            </div>
            <div class="flex flex-column gap-2 mb-4">
                <label for="lastModifiedBy">Last Modified By</label>
                <input pInputText id="id" [(ngModel)]="postResponse.lastModifiedBy" readonly>
            </div>
        </ng-container> -->

    </ng-template>
</p-dialog>
<p-toast />
<p-confirmDialog />