<div class="m-auto col-11 lg:col-8 flex flex-column gap-3">
  <h2 class="text-center">Comments</h2>
  <app-comment-form (commentAdded)="onCommentAdded($event)"></app-comment-form>
  <div class="comments-container flex flex-column gap-5">
    <app-comment *ngFor="let comment of commentResponseList" [comment]="comment" [postId]="postId"></app-comment>
  </div>

  <p-button *ngIf="hasMoreRootComments" class="flex justify-content-center" label="Show More Comments" [outlined]="true"
    (onClick)="loadMoreComments()"></p-button>
</div>
